@charset "UTF-8";

*{
  margin: 0;
  bottom: 0;
}

h1{
  text-align: center;
  margin-bottom: 5vh;
}

table {
  height: 400px;
  width: 400px;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}