@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

header h1{
  background-color: darkgrey;
  text-align: center;
}

menu{
  background-color: grey;
}

ul li{
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  color: white;
  background-color: rgb(66, 66, 66);
}

article{
  width: 600px;
  text-align: justify;
  margin: auto;
}