@charset "UTF-8";

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(200, 148, 248);
}
h1#principal{
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: blueviolet;
}
.principal{
  color: rgb(155, 53, 252);
}

.secundario{
color: rgb(111, 35, 182);
}