@charset "UTF-8";

:root{
  --font001: 'Courier New', Courier, monospace;
  --font002: 'Passion One', cursive;
  --font003: 'Sriracha', cursive;
}

*{
  margin: 0;
  padding: 0;
  font-size: 1em;
}

header{
  background-color: black;
  text-align: center;
  color: white;
}

header h1{
  font-variant: small-caps;
  font-size: 10vw;
  font-family: var(--font001);

  padding-top: 50px;
}

header p{
  padding-top: 10px;
  padding-bottom: 50px;
}

header a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 22px;
}

header a:hover{
  text-decoration: underline;
}

section{
  font-family: var(--font003);
  padding-top: 100px;
  padding-left: 25px;
  padding-bottom:15vh;
  
  line-height: 2em; 
  
  font-weight: 600;
  font-size: 3.5vw;
  font-family: var(--font003);
}

section#image01{
  background-image: url(imagens/background001.jpg);

  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 100px;

  padding-top:12vh;
  padding-left: 25px;
  padding-bottom: 12vh;
}

section#image02{
  background-image: url(imagens/background002.jpg);

  background-attachment: fixed;
  background-size: cover;
}

section.background_image > p{
  display: inline-block;

  padding: 5px;

  background-color: rgba(0, 0, 0, 0.63);
  color: white;
}

section > p{
  padding-bottom: 85px;
  font-style: italic;
}

footer{
  background-color: black;
  color: white;
  padding: 10px;
}

footer > p {
  text-align: center;
  font-family: var(--font001);
}

footer  a{
  text-decoration: none;
  color: white;

  font-weight: bolder;
}

footer a:hover{
  color: yellow;
  text-decoration: underline;
}